<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ENA with NLP</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="">
                Evaluate a News Article with NLP
            </h1>
        </header>
        <main>
            <section class="form">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="link" type="url" name="input" value="" placeholder="Enter link here"><br><br>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)">
                </form><br>
                <div class="feedback">

                </div>
            </section>

            <section class="results-container">
                <strong>Form Results:</strong>
                <div id="results">
                    <div>Polarity: <br><span id="polarity"></span></div>
                    <div>Agreement: <br><span id="agreement"></span></div>
                    <div>Subjectivity: <br><span id="subjectivity"></span></div>
                    <div>Confidence: <br><span id="confidence"></span></div>
                    <div>Irony: <br><span id="irony"></span></div>
                </div>
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>