<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ENA with NLP</title>
    </head>
    <body>
        <header>
            <div class="">
                ENA with NLP
            </div>
        </header>
        <main>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="link" type="url" name="input" value="" onblur="onBlur()" placeholder="Enter link here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <div class="feedback"></div>
            </section>

            <section class="results-container">
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>

        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
           
    </body>
</html>
