form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 5px 20px;
  width: 80%;
  line-height: 16px;
  margin: 10px 0;
}
#button {
  width: fit-content;
}
#name {
  text-align: center;
}
